section {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background: var(--tema-color-relleno1);
  margin: 2em 1em;
  border-radius: 2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.5em;
}

section::before {
  display: block;
  content: "";
  margin-top: -10em;
  padding-top: 10em;
  z-index: -1;
}

header {
  font-size: 1.7em;
  font-weight: bold;
  color: var(--tema-color-header);
  padding-bottom: 0.5em;
  text-align: center;
}

p,
li {
  margin: 0;
  color: var(--tema-color-p);
  font-size: 1.1em;
  margin: 0.7em 0;
}

p.pregunta {
  background-color: rgba(20, 201, 233, 0.459);
  border-radius: 0.5em;
  padding: 1em;
  text-align: center;
  font-weight: bold;
}

div.pregunta::before {
  display: block;
  content: "Pregunta";
  text-align: center;
  font-size: 1.5em;
  background: none;
  font-weight: bold;
  color: rgba(20, 201, 233, 0.699);
}

div.respuesta::before {
  display: block;
  margin: 1em 0 0 0;
  content: "Respuesta";
  font-size: 1.5em;
  background: none;
  text-align: center;
  color: rgb(127, 241, 127);
  font-weight: bold;
  padding-bottom: 0.5em;
  border-bottom: 0.1em solid rgb(128, 216, 128);
}

p.fuentes {
  width: auto;
  font-style: italic;
  background: rgba(255, 255, 255, 0.164);
  border-radius: 0.5em;
  padding: 0.2em 1em;
  margin-top: 1em;
  overflow: auto;
}

p.fuentes::before {
  content: "Documentación: ";
  font-weight: bold;
}

p a {
  text-decoration-line: none;
  color: var(--tema-color-p);
}

div.etiquetas {
  display: flex;
  flex-direction: row;
  margin: 0.5em 0;
  justify-content: space-between;
  background: #0008;
  border-radius: 0.5em;
  padding: 0.2em 1em;
}

p.etiqueta {
  font-weight: 200;
  color: var(--tema-color-p);
  padding: 0 1em;
  margin: 0;
  border-radius: 1em;
}

p.etiqueta::before {
  content: "#";
}

p.etiqueta:hover {
  color: rgb(116, 255, 255);
  background-color: #fff3;
}

@media (max-width: 500pt) {
  div.etiquetas {
    flex-direction: column;
  }

  p.etiqueta {
    padding: 0 1em;
    text-align: center;
  }
}
