<h1>
  <span class="subtítulo">Preguntas y Respuestas</span>
</h1>
<section *ngFor="let numeral of preguntasYRespuestas" id="Pregunta{{ numeral.numero }}" class="main-section">
  <header class="titulo-tema">{{ numeral.titulo }}</header>
  <div class="pregunta">
    <p class="pregunta">{{ numeral.pregunta }}</p>
  </div>
  <div class="respuesta">
    <p *ngFor="let parrafo of numeral.respuesta" class="respuesta">{{ parrafo }}</p>
    <p class="fuentes">Más detalles en <a href="{{ numeral.verMas }}" target="_blank">{{ numeral.verMas }}</a></p>
  </div>
  <div class="etiquetas">
    <p *ngFor="let eti of numeral.etiquetas" class="etiqueta">
      {{ eti }}
    </p>
  </div>
</section>
