<h1>
  <span class="subtítulo">Preguntas y Respuestas</span>
</h1>
<section id="Pregunta{{ numeral.numero }}" class="main-section" *ngFor="let numeral of preguntasYRespuestas">
  <header class="titulo-tema">{{ numeral.titulo }}</header>
  <div class="pregunta">
    <p class="pregunta">{{ numeral.pregunta }}</p>
  </div>
  <div class="respuesta">
    <p class="respuesta">{{ numeral.respuesta }}</p>
    <p class="fuentes">{{ numeral.verMas }}</p>
  </div>
  <div class="etiquetas">
    <p class="etiqueta" *ngFor="let eti of numeral.etiquetas">
      {{ eti }}
    </p>
  </div>
</section>
