<nav id="navbar" class="navbar" >
  <header><a [routerLink]="['']" routerLinkActive="active">Cubit</a></header>
  <ul>
    <li>
      <a [routerLink]="['/lista-usuarios']" class="nav-link" routerLinkActive="active"
        >Lista de Usuarios</a
      >
    </li>
    <li>
      <a [routerLink]="['/preguntas']" class="nav-link" routerLinkActive="active"
        >Preguntas y Respuestas</a
      >
    </li>
    <!-- <li *ngFor="let numeral of preguntas.preguntasYRespuestas.length"> -->
    <!-- <li>
      <a [routerLink]="['/preguntas']" class="nav-link" routerLinkActive="active"
        ></a
      >
    </li> -->
  </ul>
</nav>
