ul {
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
  margin: 1em 1em;
  font-size: 1.5em;
  list-style-type: none;
  border-radius: 2em;
  background-color: transparent;
}

a:hover {
  background: #0005;
  box-shadow: 0 0 1em var(--tema-color-header);
}

a {
  border-radius: 2em;
  background: var(--tema-color-relleno1);
  padding: 0.5em 0;
  text-decoration-line: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.7em;
  font-weight: bold;
  color: var(--tema-color-header);
  text-align: center;
}

ul.paginav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  scrollbar-width: none;
}

.paginav a {
  padding: 0.5em;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.555);
  color: var(--tema-color-relleno1);
}

.paginav a.activa {
  border: 0.2em solid var(--tema-color-p);
}

.paginav a:hover {
  background: rgba(255, 255, 255, 0.87);
  box-shadow: 0 0 0.5em var(--tema-color-p);
}

div.cortina {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.contenedor {
  position: fixed;
  top: 7%;
  /* bottom: 7%; */
  left: 50%;
  right: 7%;
  flex-direction: column;
  padding: 1em;
  background: var(--tema-color-relleno1);
  margin: 0;
  border-radius: 2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.5em;
  border: 0;
  box-shadow: 0 0 1em var(--tema-color-relleno1);
}

.visible {
  display: block;
}

.oculto {
  display: none;
}

.dato {
  display: flex;
  flex-direction: row;
  margin: 0.5em 0;
  justify-content: space-between;
  background: #fffa;
  backdrop-filter: blur(1em);
  border-radius: 1em;
  padding: 0.2em 1em;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.651);
}

.dato p,
.dato a {
  font-weight: 200;
  color: var(--tema-color-relleno1);
  margin: 0;
  text-decoration-line: none;
}

.dato p.etiqueta {
  padding-right: 1em;
  font-style: italic;
}

#ok {
  border: 0.1em solid var(--tema-color-p);
  display: block;
  font-weight: bold;
  color: var(--tema-color-p);
  margin-top: 1em;
  background: var(--tema-color-relleno1);
  width: 100%;
  font-size: 1em;
}

#ok:hover {
  background: var(--tema-color-p);
  color: var(--tema-color-relleno1);
}

#cargando {
  width: 10em;
  height: 10em;
  border-radius: 35%;
  border: 1em solid var(--tema-color-relleno1);
  animation: 2s linear 0s infinite forwards running giro;
  margin: 40vh auto;
  margin: calc(50vh - 10em) auto;
}

@media (max-width: 500pt) {
  .contenedor {
    left: 7%;
  }

  .contenedor div.datos {
    flex-direction: column;
  }
}

@keyframes giro {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
