li {
    display: flex;
    flex-direction: column;
    background: var(--tema-color-relleno1);
    margin: 1em 1em;
    border-radius: 2em;
    font-family: "Segoe UI";
    font-size: 1.5em;
}

/* a::before {
    display: block;
    content: "";
    margin-top: -7em;
    padding-top: 7em;
} */

a {
    padding: 0.5em;
    text-decoration-line: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.7em;
    font-weight: bold;
    color: var(--tema-color-header);
    text-align: center;
}

a:hover {
    background: rgba(var(--tema-color-relleno1), 0.5);
}

a p, a li {
    margin:0;
    color: var(--tema-color-p);
    font-size: 1.1em;
    margin: 0.7em 0;
    /* padding: 0.5em 0em; */
}