<h1>
  <span class="subtítulo">Lista de Usuarios</span>
</h1>
<ul>
  <li *ngFor="let infoUsuario of listaUsuarios">
    <a
      (click)="
        claseCssCortina = 'visible';
        claseCssCargando = 'visible';
        seleccionarUsuario(infoUsuario.id)
      "
      [routerLink]="['/lista-usuarios']"
    >
      <header class="nombre-completo">
        <span *ngIf="errorHttp">Error 404</span>
        {{ infoUsuario.first_name }} {{ infoUsuario.last_name }}
      </header>
    </a>
  </li>
</ul>
<ul class="paginav">
  <li
    *ngFor="
      let i of Arreglar(listaUsuariosBloque.total_pages);
      index as numeroPagina
    "
  >
    <a
      (click)="descargarListaUsuarios(numeroPagina + 1)"
      [routerLink]="['/lista-usuarios']"
      [ngClass]="estaActiva(numeroPagina + 1)"
    >
      {{ numeroPagina + 1 }}
    </a>
  </li>
</ul>

<div
  (click)="
    claseCssCortina = 'oculto';
    claseCssCargando = 'oculto';
    claseCssDialogo = 'oculto'
  "
  class="cortina"
  [ngClass]="claseCssCortina"
>
  <div id="cargando" [ngClass]="claseCssCargando">
    <br />
  </div>
  <dialog class="contenedor" open [ngClass]="claseCssDialogo">
    <app-detalle-usuario
      *ngIf="usuarioSeleccionado != 0"
      [seleccionUsuario]="usuarioSeleccionado"
    ></app-detalle-usuario>
    <button
      id="ok"
      class="dato"
      (click)="
        claseCssCortina = 'oculto';
        claseCssCargando = 'oculto';
        claseCssDialogo = 'oculto'
      "
    >
      Aceptar
    </button>
  </dialog>
</div>
