.contenedor {
  display: block;
  position: fixed;
  top: 7%;
  /* bottom: 7%; */
  left: 50%;
  right: 7%;
  flex-direction: column;
  padding: 1em;
  margin: 0;
  border-radius: 2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.5em;
  border: 0;
  box-shadow: 0 0 1em var(--tema-color-relleno1);
}

.foto-perfil {
  border-radius: 50%;
}

header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.7em;
  font-weight: bold;
  color: var(--tema-color-h1);
  padding-bottom: 0.5em;
  text-align: center;
}

p {
  margin: 0;
  color: var(--tema-color-p);
  font-size: 1.1em;
  margin: 0.7em 0;
  /* padding: 0.5em 0em; */
}

.dato {
  display: flex;
  flex-direction: row;
  margin: 0.5em 0;
  justify-content: space-between;
  background: #fffa;
  backdrop-filter: blur(1em);
  border-radius: 1em;
  padding: 0.2em 1em;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.651);
}

.dato p,
.dato a {
  font-weight: 200;
  color: var(--tema-color-relleno1);
  margin: 0;
  text-decoration-line: none;
}

.dato p.etiqueta {
  padding-right: 1em;
  font-style: italic;
}


#ok {
  border: 0.1em solid var(--tema-color-p);
  display: block;
  font-weight: bold;
  color: var(--tema-color-p);
  margin-top: 1em;
  background: var(--tema-color-relleno1);
  width: 100%;
  font-size: 1em;
}

#ok:hover {
  background: var(--tema-color-p);
  color: var(--tema-color-relleno1);
}

@media (max-width: 500pt) {

  .contenedor {
    left: 7%;
  }

  .contenedor div.datos {
    flex-direction: column;
  }

  /* .contenedor p {
    padding: 0 1em;
    text-align: center;
  } */
}
